<style> body { margin: 0; } </style>
<script src="{{ url_for('static', filename='dependencies/globe.gl.min.js') }}"></script>
<div id="globeViz"></div>

<script>
  // Gen random data
  const N = 300;
  const gData = [...Array(N).keys()].map(() => ({
    lat: (Math.random() - 0.5) * 180,
    lng: (Math.random() - 0.5) * 360,
    size: Math.random() / 3,
    color: ['red', 'white', 'blue', 'green'][Math.round(Math.random() * 3)]
  }));

  Globe()
    .globeImageUrl('{{ url_for('static', filename='dependencies/earth-night.jpg') }}')
    .pointsData(gData)
    .pointAltitude('size')
    .pointColor('color')
  (document.getElementById('globeViz'))

</script>